body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.battery-wrapper {
    position: relative;
    cursor: pointer;
    height: 300px;
	width: 150px;
	background: #000000;
	margin: 100px auto;
    border: 2px solid black;
}

.battery-wrapper::before {
    content: " ";
	position: absolute;
	background-color: #000000;
	width: 55px;
	height: 7px;
	margin: -7px 47px;
}

#battery-level {
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
}

.charging-status {
    width: 60%;
    height: 100%;
    max-height: 100%;
    margin: 80px auto;
}

#charging-icon {
    transform: rotate(-45deg);
    color: #ffffff;
    font-size: 5rem !important;
}
